/* ==========================================================================
	Global Styles
==========================================================================*/
* {box-sizing: border-box;}
body {
	font-family: 'Philosopher', Arial, sans-serif;
	}
.clearfix:after {
	content:'';
	display: block;
	clear: both;
	}
/* ==========================================================================
 Typography
========================================================================== */
h3{
	color: rgba(18, 138, 167, 0.8);
	font: 500 13px Tahoma;
	line-height: 21px;
	}
p {
	color: rgba(18, 138, 167, 0.8);
	font: 400 12px Tahoma;
	line-height: 19px;
	}
h2{
	margin-bottom: 5px;
	color: #424c43;
	font: 400 18px Tahoma;
	}
/* ==========================================================================
 Top
========================================================================== */
.container {
	width: 100%;
	background: url(../img/homework4.jpg);
	background-size: cover;
	}
.content_wraper {
	width: 1000px;
	margin: 0 auto;
	background: white;
	box-shadow: 0px 1px 5px 3px rgba(85, 85, 85,1);
	}
.top {
	position: relative;
	height: 180px;
	}
.img_box {
	position: relative;
	height: 231px;
	background: url(../img/banner.jpg);
	background-size: cover;
	}
.lolotype {
	position: absolute;
	top: 4%;
	left: 0;
	width: 339px;
	}
.lolotype img {
	width: 100%;
	height: 100%;
 }
.contacts {
	width: 159px;
	float: right;
	padding-top: 11px;
	}
.country_box {
	clear: right;
	float: right;
	padding-right: 18px;
	padding-top: 30px;
	text-align: center;
	}
.country  {
	display: inline-block;
	margin-right: 11px;
}
.country_box img ,a {display: block;}
.country_box img {
	margin-bottom: 2px;
	height: auto;
}
.country_box a {
	font-size: 12px;
	color: RGB(116, 186, 203);
}
.country  a:hover {
	color: red;
	text-decoration: none;
	}
/* ==========================================================================
Navigation
========================================================================== */
.navigation_box {
	width: 100%;
	padding-top: 3px;
	border-top: 1px solid RGB(116, 186, 203);
	background: rgb(202, 202, 203);
	}
.nav { 
	position: relative;
	text-align: center;
	border-bottom: 1px solid black;
	background: rgb(50, 50, 50);
	box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.75);
	}
.nav_item{
	position: relative;
	display: inline-block;
	width: 13.5%;
	}
.nav_item span {
	font-size: 8px;
	}
.nav_item a {
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: white;
	}
.nav_submenu {
	display: none;
	position: absolute;
	border-top: 1px solid black;
	left: 20px;
	width: 150px;
	padding: 5px 0;
	background: rgb(47, 47, 47);
	-moz-box-shadow: 1px 7px 5px #000000;
	box-shadow: 1px 7px 5px #000000;
	}
.nav_submenu a {
	padding-left: 6px;
	line-height: 23px;
    text-align: left;
	}
.nav li:hover ul {  
  display: block;
	}
/* ==========================================================================
Content
========================================================================== */
.content { 
	width: 100%;
	background: white;
	overflow: hidden;
	}
.column_left,.column_right {
	padding: 4px 0;
	background: RGB(237, 238, 240);
	text-align: center;
	}
.column_left p, .column_right p {
	margin-bottom: 20px;
	font: 400 14px / 24px Tahoma;
	color: #424c43;
    }
.column_left {
	width: 21%;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border-right: 1px solid RGB(199, 202, 207);
	}
.column_right {
	width: 21%;
	float: right;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border-left: 1px solid RGB(199, 202, 207);
	}
.column_center {
	
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	background: white;
	}
/* ==========================================================================
Footer
========================================================================== */
.footer {
	height: 40px;
	width: 74%;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 3px solid black;
	background: RGBA(52, 52, 52, 0);
	text-align: center;
	color: white;
	}
.footer p {
	color: rgba(255, 255, 255, 0.8);
  font: 400 12px Tahoma;
 }